<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SplatColour.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <SplatColour.Properties.Settings>
            <setting name="LastSavePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastColourAlpha" serializeAs="String">
                <value>207, 88, 28</value>
            </setting>
            <setting name="LastColourBravo" serializeAs="String">
                <value>20, 20, 148</value>
            </setting>
            <setting name="LastColourNeutral" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </SplatColour.Properties.Settings>
    </userSettings>
</configuration>
